
*.class
*.tgz
ams-client/package-lock.json
ams-server/bin/main/application.properties
*.bin
*.jar
ams-server/login-service/build/tmp/jar/MANIFEST.MF
ams-server/login-service/build/resources/main/application.properties
ams-server/attendance-service/build/tmp/jar/MANIFEST.MF
*.lock
ams-server/.gradle/buildOutputCleanup/cache.properties
ams-server/attendance-service/build/resources/main/application.properties
ams-server/attendance-service/.classpath
ams-server/attendance-service/.project
ams-server/attendance-service/bin/main/application.properties
ams-server/.project
ams-server/.gradle/vcsWorkingDirs/gc.properties
*.prefs
ams-server/login-service/.classpath
ams-server/login-service/.project
ams-server/login-service/bin/main/application.properties
