<div>
<h2 style="width: 400px;">Register/Forgot Password</h2>
<form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <table>
        <tr>
            <td>
                <label for="username" style="width: 100px;height: 30px;">Employee Id</label>
            </td>
            <td>
                <input type="text" formControlName="username" style="width: 150px;height: 30px;" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            </td>
            <td>
                <div *ngIf="submitted && f.username.errors" >
                    <div *ngIf="f.username.errors.required" style="width: 200px;height: 30px; color: crimson; font-size: 70%">Username is required</div>
                    <div *ngIf="f.username.errors.pattern" style="width: 200px;height: 30px; color: crimson; font-size: 70%">Invalid Employee Id</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="email" style="width: 100px;height: 30px;">Email Id</label>
            </td>
            <td>
                <input type="email" formControlName="email" style="width: 150px;height: 30px;" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            </td>
            <td>
                <div *ngIf="submitted && f.email.errors">
                    <div *ngIf="f.email.errors.required" style="width: 200px;height: 30px; color: crimson; font-size: 70%">Email Id is required</div>
                    <div *ngIf="f.email.errors.email" style="width: 200px;height: 30px; color: crimson; font-size: 70%">Email Id invalid</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="otpradio" style="width: 140px;;height: 30px;">Already have OTP?</label>
            </td>
            <td>
                <input type="radio" formControlName="otpradio" name="otpradio" value="Yes"  (change)="otpradioChangeHandler($event)"/>
                Yes 
                <input type="radio" formControlName="otpradio" name="otpradio" value="No" [checked]='true' (change)="otpradioChangeHandler($event)"/>
                No
            </td>
        </tr>
        <tr *ngIf="f.otpradio.value==='Yes'">
            <td>
                <label for="otpValue" style="width: 130px;;height: 30px;">OTP:</label>
            </td>
            <td>
                <input type="password" formControlName="otpValue" style="width: 150px;height: 30px;"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.otpValue.errors }" />
            </td>
            <td>
                <div *ngIf="submitted && f.otpValue.errors" >
                   <div *ngIf="f.otpValue.errors.pattern" style="width: 200px;height: 30px; color: crimson; font-size: 70%">Invalid OPT</div>
                </div>
            </td>
        </tr>
        <tr *ngIf="f.otpradio.value==='Yes'">
            <td>
                <label for="newpassword" style="width: 130px;;height: 30px;">New Password:</label>
            </td>
            <td>
                <input type="password" formControlName="newpassword" style="width: 150px;height: 30px;"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }" />
            </td>
            <td>
                <div *ngIf="submitted && f.newpassword.errors" >
                   <div *ngIf="f.newpassword.errors.pattern" style="width: 200px;height: 30px; color: crimson; font-size: 70%">Invalid Password</div>
                </div>
            </td>
        </tr>
        <tr *ngIf="f.otpradio.value==='Yes'">
            <td>
                <label for="confirmpassword" style="width: 140px;;height: 30px;">Confirm Password:</label>
            </td>
            <td>
                <input type="password" formControlName="confirmpassword" style="width: 150px;height: 30px;"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" />
            </td>
            <td>
                <div *ngIf="submitted && f.confirmpassword.errors" >
                   <div *ngIf="f.confirmpassword.errors.pattern" style="width: 200px;height: 30px; color: crimson; font-size: 70%">Invalid Password</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td style="padding-bottom: 5%; padding-top: 5%">
                <!-- here: {{"f.otpradio.value==='Yes'"}} -->
                <button [disabled]="loading" style="font-size: 14px" class="btn btn-primary">{{otpRadioValue==='Yes'?'Reset':'SendOTP'}}</button>
                <!-- <button [disabled]="loading" class="btn btn-primary">SendOPT</button> -->
                <a [routerLink]="['/login']" class="btn btn-link" style="font-size: 14px">Cancel</a>
            </td>
            <td>
                       
            </td>
        </tr>
    </table>
    <!--<div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Register</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </div>  -->
</form>
</div>
