<div>
<h2>AppX Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <table >
        <tr>
            <td>
                <label for="username" style="width: 120px;height: 30px;">Employee Id</label>  
            </td>
            <td>
                <input type="text" formControlName="username" style="width: 150px;height: 30px;" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            </td>
            <td>
                <div *ngIf="submitted && f.username.errors" >
                   <div *ngIf="f.username.errors.required" style="width: 150px;height: 30px; color: crimson; font-size: 70%"> Username is required</div>
                   <div *ngIf="f.username.errors.pattern" style="width: 150px;height: 30px; color: crimson; font-size: 70%">Invalid Employee Id</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Password</label>
            </td>
            <td>
                <input type="password" formControlName="password" style="width: 150px;height: 30px;" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            </td>
            <td>
                <div *ngIf="submitted && f.password.errors" >
                    <div *ngIf="f.password.errors.required" style="width: 150px;height: 30px; color: crimson; font-size: 70%">Password is required</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td style="padding-top: 5%">
                <button [disabled]="loading" class="btn btn-primary" style="font-size: 14px">Login</button>
                <a [routerLink]="['/register']" class="btn btn-link" style="font-size: 14px">Temp</a>
                <!-- <a [routerLink]="['/forgot']" class="btn btn-link" style="font-size: 13px">Register/Forgot Password</a>     -->
            
            </td>
           
        </tr>
        <tr>
            <td>
            </td>
            <td>  
                <a [routerLink]="['/forgot']" class="btn btn-link" style="width: 100px;height: 30px;font-size: 14px;">Register/Forgot Password</a>     
            </td>
        </tr>
    </table> 
    <!--<div class="form-group">
        <label for="username">Employee Id</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Login</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    </div> -->
</form>
</div>