<!-- main app container -->

<div>
        <nav class='navbar navbar-default'>
            <div class='container'>
                <div class="row">
                    <div>
                        <alert></alert>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </nav>
     </div>

     

<!-- <div class="jumbotron" style="background:transparent !important"> -->
    <!-- <div class="container">
        <div class="row">
            
            <div class="col-sm-7 offset-sm-0">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div> -->
<!-- </div> -->